.blog {
	.sec-wrap {
		padding-left: 80px;
		padding-right: 80px;
	}
	article.promo {
		width: 49.5%;
		display: inline-block;
		vertical-align: top;

		&:nth-of-type(odd) {
			padding-right: 10px;
		}

		&:nth-of-type(even) {
			padding-left: 10px;
		}
	}

	&.blogroll {
		article {
			display: table;
			margin-bottom: 50px;

			figure {
				width: 35%;
				display: table-cell;
			}
			header {
				width: 65%;
				vertical-align: middle;
				display: table-cell;
				bottom: auto;
				background: transparent;
			}
			.tags.meta {
				border-top: none;
			}
		}
	}

	&.giving {
		padding-top: 60px;

		.sec-wrap {
			padding-left: 80px;
			padding-right: 80px;
		}
		aside {
			width: 420px;
			min-height: 375px;
			display: inline-block;
			vertical-align: top;
			padding-left: 30px;
			padding-right: 30px;
			border-radius: 5px;
		}
		.subscribe-module {
			float: left;

			header p {
				padding: 0;
			}
		}

		.donate-module {
			float: right;
		}
	}
}

.blog-header {
	font-size: 24px;
}

.article-page {
	.donate-module {
		display: block;
		border-radius: 4px;
		float: right;
		width: 360px;
		padding: 30px 32px;
		margin: 120px 0 20px 15px;

		.monthly {
			font-size: 16px;
		}

		.checkbox-on,
		.checkbox-off {
			font-size: 20px;
		}

		.check-address {
			padding-top: 10px;
		}
	}
}

.article > article {
	width: 1024px;
	margin: 0 auto;
}

.article-header {
	max-width: 662px;
	margin: -106px 0 0;

	header {
		margin-left: 0;
		margin-right: 20px;
		padding: 15px 20px;
	}

}

.article-wrap {
	padding: 0;

	.sec-wrap {
		width: auto;
		margin: 0;
	}
}
