.blog {
	article.promo {
		width: 49.5%;
		display: inline-block;
		vertical-align: top;

		&:nth-of-type(odd) {
			padding-right: 10px;
		}

		&:nth-of-type(even) {
			padding-left: 10px;
		}
	}

	&.blogroll {
		article {
			display: table;
			margin-bottom: 50px;

			figure {
				width: 35%;
				display: table-cell;
			}
			header {
				width: 65%;
				vertical-align: middle;
				display: table-cell;
				bottom: auto;
				background: transparent;
			}
			.tags.meta {
				border-top: none;
			}
		}
	}

	&.giving {
		.sec-wrap {
			padding-left: 100px;
			padding-right: 100px;
		}
		section {
			float:left;
			width: 50%;
			display: inline-block;
			vertical-align: top;
			min-height: 365px;
			padding-left: 40px;
			padding-right: 40px;
		}
	}
}

.blog-header {
	font-size: 24px;
}
.donate-module {
	float: right;
	display: block;
}
.article-header {
	max-width: 1024px;
	margin: -106px auto 0;


	header {
		background-color: #fff;
		margin: 10px 20px;
		padding: 15px 20px;
	}

	h1 {
		padding-bottom: 8px;
	}

	.meta {
		font-size: 16px;
	}

	.date {
		margin-top: 6px;
		margin-bottom: 6px;
	}

	.icon-tag {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}

	.article-social {
		margin: 17px 0 0;
	}
}
