.blog {
	article {
		.meta {
			font-size: 16px;
		}
		header {
			bottom: 70px;
			margin: 0 20px;
			padding: 14px 20px;
		}
		h1 {
			font-size: 24px;
		}
		.icon-tag {
			width: 19px;
			height: 19px;
		}
	}

	&.meta {
		.meta-tags,
		.meta-archive {
			display: inline-block;
			width: 49.5%;
			vertical-align: top;
			padding: 0;
		}
	}
}

.blog-header {
	font-size: 24px;
}

.article-header {
	margin-top: -56px;

	header {
		margin: 10px 15px;
		padding: 15px 20px;
	}

	h1 {
		padding-bottom: 8px;
	}

	.meta {
		font-size: 16px;
	}

	.date {
		margin-top: 6px;
		margin-bottom: 6px;
	}

	.icon-tag {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}

	.article-social {
		margin: 17px 0 0;
	}
}

.article-footer {
	.next {
		margin-top: 30px;
		padding: 20px 40px 0;

		span {
			font-size: 16px;

		}
		h2 {
			margin-top: 7px;
			font-size: 28px;
		}
	}
}
