RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# NEW SITE REDIRECT MATCHES
RedirectMatch 301 /about-us/our-team/staff/$ /about-us/our-team
RedirectMatch 301 /our-work/$ /our-work/approach
RedirectMatch 301 /about-us/$ /about-us/our-story/
RedirectMatch 301 /get-involved/$ /get-involved/volunteer

# CUSTOM REDIRECTS (ADD HERE)
Redirect 301 /give https://donate.restorenyc.org/checkout/donation?eid=51308
Redirect 301 /get-involved/join-our-team /join-our-team
Redirect 301 /esther https://donate.restorenyc.org/give/120413/#!/donation/checkout
Redirect 301 /fallbenefit2017 https://donate.restorenyc.org/new-york/events/restore-nyc-fall-benefit-dinner-2017/e131546

# MIGRATION: REDIRECT OLD LINKS TO NEW SITE
Redirect 301 /news1 /updates/news1
Redirect 301 /news2 /updates/news2
Redirect 301 /news3 /updates/news3
Redirect 301 /news5 /updates/news5
Redirect 301 /news6 /updates/news6
Redirect 301 /news7 /updates/news7
Redirect 301 /news8 /updates/news8
Redirect 301 /news9 /updates/news9
Redirect 301 /news10 /updates/news10
Redirect 301 /news11 /updates/news11
Redirect 301 /news12 /updates/news12

Redirect 301 /the-issue /our-work/approach/
Redirect 301 /causes /our-work/approach/
Redirect 301 /the-numbers /our-work/approach/
Redirect 301 /the-united-states /our-work/approach/
Redirect 301 /our-outreach-program /our-work/outreach-program/
Redirect 301 /our-safehome /our-work/safehome-program/
Redirect 301 /staff /about-us/our-team
Redirect 301 /board-of-directors /about-us/board-of-directors/
Redirect 301 /strategic-advisory-board /about-us/strategic-advisory-board/
Redirect 301 /partners /our-work/partners
Redirect 301 /about-us/careers-opportunities /get-involved/join-our-team/
Redirect 301 /media /our-work/vision-and-mission/
Redirect 301 /annual-reports /about-us/annual-reports/
Redirect 301 /how-to-help /get-involved/volunteer/
Redirect 301 /donate /give
Redirect 301 /fundraise /get-involved/fundraise/
Redirect 301 /spread-the-word /get-involved/fundraise/
Redirect 301 /the-workplace /get-involved/volunteer/
Redirect 301 /church-and-faith /get-involved/pray/
Redirect 301 /shop-and-support-restore /get-involved/shop/
#Redirect 301 /events http://restorenyc.org/
Redirect 301 /founders-story /about-us/our-story/
Redirect 301 /2015-nyc-marathon https://donate.restorenyc.org/search/fundraisers?type=Fundraiser&cid=6651&eid=11564&fb=0
Redirect 301 /life-at-our-safehome /our-work/safehome-program/
Redirect 301 /myrestore_campaign-tools /get-involved/fundraise/
Redirect 301 /faqs /our-work/vision-and-mission/
Redirect 301 /founder /about-us/our-story/
Redirect 301 /homepage http://restorenyc.org/
Redirect 301 /blog http://restorenyc.org/
Redirect 301 /biographies /about-us/our-team/

# 404: PAGE NOT FOUND
ErrorDocument 404 /404.html