{% capture content %}
	{% assign pageTitle="Sorry, that page does not exist" %}
	<section class="page404">
		<div class="sec-wrap">
			<header>
				<span class="r-icon restore-tree"></span>
					<h1>OH NO!<span>{404 Error}</span></h1>
			</header>
		</div>
	</section>
	<section class="page404-content">
		<div class="sec-wrap">
			<p><strong>Sorry, that page does not exist</strong>.<br /><a href="/contact-us">Need help</a> or <a href="/" alt="home">head home</a></p>
		</div>
	</section>
{% endcapture %}
{% include 'views/layout' %}