{% capture content %}
	<section class="layer four-oh-four-illu">
		<div class="sec-wrap">
			<p><strong>Sorry, that page doesn't exist</strong>.<br /><a href="/">Get help</a> or <a href="/" alt="home">head home</a></p>
		</div>
	</section>
{% endcapture %}
{% include 'views/layout' %}