{% assign flickity = true %}

<section class="full-width billboard {{section.meta.sectionClass}}" style="{{section.meta.sectionStyles}}">
	<div class="sec-wrap">
		<div class="slider-billboard">
			{% for slide in section.pages %}
				{% if slide.meta.backgroundImage %}
					<div class="gallery-cell" {% if slide.meta.video %} data-video="{{slide.meta.video}}"{% endif %}>
						<div class="cell-wrap full">
						{% if slide.meta.video %}
							<div class="image-wrap">
								<img src="{{slide.meta.backgroundImage}}"/>
								<div class="play-btn">
									<div class="outer"></div>
									<div class="inner-shadow"></div>
									<div class="inner"></div>
								</div>
							</div>
							<div class="video-wrap"></div>
						{% else %}
							{% if slide.meta.link %}<a class="link" href="{{slide.meta.link}}"{% if slide.meta.linkTarget %} target="{{slide.meta.linkTarget}}"{% endif %}{% if slide.meta.dataGa %} data-ga="{{slide.meta.dataGa}}"{% endif %}>{% endif %}
								<div class="image-wrap">
									<img src="{{slide.meta.backgroundImage}}"/>
								</div>
							{% if slide.meta.link %}</a>{% endif %}
						{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<nav>
			<ul>
				{% for slide in section.pages %}
					<li>{{slide.title | replace:'__','' | replace:'[[','' | replace: ']]',''}}</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</section>