<section class="blog latest">
	<div class="sec-wrap {{section.meta.sectionWrapClass}}" style="{{section.meta.sectionWrapStyles}}">
		<h2 class="line red">LATEST</h2>
		{% for article in posts limit:2 %}
			{% include 'views/partials/blogroll-article-promo' %}
		{% endfor %}
	</div>
</section>

<div class="divider-wrap">
	<div class="divider carrot"></div>
</div>

<section class="blog blogroll">
	<div class="sec-wrap {{section.meta.sectionWrapClass}}" style="{{section.meta.sectionWrapStyles}}">
		{% for article in posts offset:2 %}
			{% include 'views/partials/blogroll-article' %}
		{% endfor %}


		<!--aside>
			<div class="btn-wrap">
				<a class="btn text-red" href="">LOAD MORE UPDATES</a>
			</div>
		</aside-->
	</div>
</section>

{% assign posts_by_year = posts | group_by: "year" %}
<section class="blog meta">
	<div class="sec-wrap {{section.meta.sectionWrapClass}}" style="{{section.meta.sectionWrapStyles}}">
		<section class="meta-tags">
			<h2 class="line red">TAGS</h2>
			<div class="list">
				{% for tag in taxonomy['tags'] %}
					<a href="{{tag.url}}">{{tag.value}}</a>
				{% endfor %}
			</div>
		</section>
		<section class="meta-archive">
			<h2 class="line red">ARCHIVE</h2>
			<ul>
			{% for year in posts_by_year %}
				{% assign posts_within_year = year.items %}
				<li><a href="/blog/a/{{year.name}}"><strong>{{year.name}}</strong> ({{posts_within_year.size}})</a></li>
			{% endfor %}
			</ul>
		</section>
	</div>
</section>
<section class="blog giving">
	<div class="sec-wrap clearfix {{section.meta.sectionWrapClass}}" style="{{section.meta.sectionWrapStyles}}">
		<section class="email">
			<h1>INBOX ME.</h1>
			<p>Receive updates first thing. And don’t worry, we dislike spam.</p>
			<input type="email" placeholder="EMAIL" />
			<a class="btn fill-red block" href="">SUBMIT</a>

		</section>
		<section class="donate">
			<h1>GIVE</h1>
			<p>Donate to help end sex trafficking.</p>
			<div class="btn-wrap">
				<a class="btn fill-red block" href="">DONATE</a>
			</div>
			<aside>
				<p><strong>Give by check</strong></p>
				<p>Simply send your check to P.O. Box 1003<br/>
					Bowling Green Station<br/>
					New York, NY 10274
				</p>
			</aside>

		</section>
	</div>
</section>