{% if meta.backgroundImage %}
	{% assign bgImage = true %}
{% else %}
	{% assign bgImage = false %}
{% endif %}

<section class="contact-us {{meta.sectionClass}} {% if bgImage %}bg-image{% endif %}" style="{{meta.sectionStyles}} {% if bgImage %}background-image:url({{meta.backgroundImage | replace:' ', '%20'}}){% endif %}">
	<div class="sec-wrap {% if bgImage %}vertical-align{% endif %}" style="{{meta.sectionWrapStyles}}">

		<header>
			<div class="divider icon"><span class="r-icon restore-icon"></span></div>
			{% include 'views/utils/title-single' %}
		</header>

		{{body}}

		<div class="form-wrap">
			<script type="text/javascript">
				var gFormSubmitted = false;
			</script>
			<p id="gFormReponse">{{meta.responseMessage}}</p>
			<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(gFormSubmitted) {document.getElementById('gFormReponse').setAttribute('class','show').style.opacity='1'}"></iframe>
			<form action="https://docs.google.com/forms/d/1ORGT74ln-1jw7P-rVLUkZR0iwlshxPAlEJ4X6ehhX6w/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="gFormSubmitted=true;">
				<input type="text" name="entry.1116662075" value="" class="ss-q-short" id="entry_1116662075" dir="auto" aria-label="Name  " title="" placeholder="Name*" required>
				<input type="text" name="entry.490152403" value="" class="ss-q-short" id="entry_490152403" dir="auto" aria-label="Email  " title="" placeholder="Email*" required>
				<ul class="ss-choices" role="group" aria-label="Inquiries  ">
					<li class="ss-choice-item">
						<label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1707561795" value="General Inquiries" id="group_1707561795_1" role="checkbox" class="ss-q-checkbox"></span>
							<span class="ss-choice-label">General Inquiries</span>
						</label>
					</li>
					<li class="ss-choice-item">
						<label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1707561795" value="Communications, Fundraising, Media and Advocacy" id="group_1707561795_2" role="checkbox" class="ss-q-checkbox"></span>
							<span class="ss-choice-label">Communications, Fundraising, Media and Advocacy</span>
						</label>
					</li>
					<li class="ss-choice-item">
						<label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1707561795" value="Programmatic, Safehouse and Client Concerns" id="group_1707561795_3" role="checkbox" class="ss-q-checkbox"></span>
							<span class="ss-choice-label">Programmatic, Safehome and Client Concerns</span>
						</label>
					</li>
					<li class="ss-choice-item">
						<label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1707561795" value="Volunteer Concerns" id="group_1707561795_4" role="checkbox" class="ss-q-checkbox"></span>
							<span class="ss-choice-label">Volunteer Concerns</span>
						</label>
					</li>
				</ul>
				<textarea name="entry.2074694553" rows="8" cols="0" class="ss-q-long" id="entry_2074694553" dir="auto" aria-label="Message  " placeholder="Message"></textarea>
				<div class="btn-wrap">
					<button type="submit" class="btn custom" name="go">Submit</button>
				</div>
			</form>
		</div>

	</div>
</section>
<section class="contact-info">
	<div class="sec-wrap">
		<div class="row">
			<div class="col-1-2">
				<div class="icon-wrap">
					<i class="fa fa-phone"></i>
				</div>
				<div class="info">
					<h3>OFFICE</h3>
					<p>
						<span>PHONE: (212) 840-8484</span>
						<span>FAX: (212) 840-8485</span>
						<a href="mailto:info@restorenyc.org">info@restorenyc.org</a>
					</p>
				</div>
			</div>
			<div class="col-1-2">
				<div class="icon-wrap">
					<i class="fa fa-bullhorn"></i>
				</div>
				<div class="info">
					<h3>REPORT SUSPICIOUS ACTIVITY</h3>
					<h4>Restore Hotline</h4>
					<p>
						<span>CALL: (917) 688-5392</span>
					<h4>National Human Trafficking Resource Center</h4>
					<p>
						<span>CALL: (888) 373-7888 (NHTRC)</span>
						<span>TEXT: "HELP" or "INFO" to 233733</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>