{% assign hero = site.pages['hero'] %}
{% if hero.meta.backgroundImage %}
	{% assign bgImage = true %}
{% else %}
	{% assign bgImage = false %}
{% endif %}

{% assign heroCampaign = hero.meta.campaign %}

<div id="hero" class="{{hero.meta.sectionClass}}{% if bgImage %} hero-bg-image{% endif %}{% if heroCampaign == 'true' %} has-campaign{% endif %}" style="{{hero.meta.sectionStyles}}">
	<div class="sec-wrap {{hero.meta.sectionWrapClass}}" style="{{hero.meta.sectionWrapStyles}}">
		<header>
			{{hero.body}}
		</header>
		{% if heroCampaign == 'true' %}
		<div class="campaign-support">
			<div class="ribbon">
				<span>SUPPORT</span>
			</div>
			<div class="inner clearfix">
				<div class="content">
					<div class="headline">{{hero.meta.campaignTitle}}</div>
					<p>{{hero.meta.campaignDescription}}</p>
				</div>
				<div class="support-module">
					<div class="headline">{{hero.meta.campaignDonateDescription}}</div>
					<div class="form-input">
						<span class="prefix">$</span>
						<input class="donate-amount" type="number" value="{{hero.meta.defaultDonateValue}}"/>
						<span class="suffix">USD</span>
					</div>
					<div class="controls clearfix">
						<a class="btn fill-red block donate-action" href="{{hero.meta.campaignClassyLink}}" target="_blank" data-ga="givebox--click--{{hero.meta.campaignClassyLinkTracking}}">{{hero.meta.campaignClassyLinkText}}</a>
						<a class="btn outline-white hover-fill-white block last" href="{{hero.meta.campaignSecondBtnLink}}" data-ga="givebox--click--{{hero.meta.campaignSecondBtnTracking}}">{{hero.meta.campaignSecondBtnText}}</a>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="bg-wrap">
		{% if hero.meta.backgroundVideo %}
			<video autoplay="true" loop="true" class="bg-video" preload="none" data-src="{{hero.meta.backgroundVideo}}">
			</video>
		{% endif %}
		{% if hero.meta.backgroundImage %}
			<figure class="portrait" data-img-url="{{hero.meta.backgroundImage}}" data-img-pos="{{hero.meta.backgroundPosition}}">
			</figure>
		{% endif %}
	</div>
	<div class="nav-down">
		<img src="/assets/downwards-arrow-key.png"/>
	</div>
</div>