<article class="infobox {{subsection.meta.sectionClass}} {% if gridSize %}col-{{subsection.meta.gridColSize | fallback:'1'}}-{{gridSize}}{% endif %}">
	<header>
		{% if subsection.meta.headerIconClass %}
			<div class="icon-wrapper">
				<i class="{{subsection.meta.headerIconClass}} vertical-align"></i>
			</div>
		{% elsif subsection.meta.headerImage %}
			<img src="{{subsection.meta.headerImage}}" alt="{{subsection.title}}" />
		{% endif %}
		{% include 'views/utils/title-post' %}
	</header>
	<div class="content">
		{{subsection.body}}
	</div>
</article>