{% if section.meta.backgroundImage %}
	{% assign bgImage = true %}
{% else %}
	{% assign bgImage = false %}
{% endif %}

<section class="pray {{section.meta.sectionClass}} {% if bgImage %}bg-image{% endif %}" style="{{section.meta.sectionStyles}} {% if bgImage %}background-image:url({{section.meta.backgroundImage | replace:' ', '%20'}}){% endif %}">
	<div class="sec-wrap {% if bgImage %}vertical-align{% endif %}" style="{{section.meta.sectionWrapStyles}}">

		<header>
			<div class="divider icon"><span class="r-icon restore-icon"></span></div>
			{% include 'views/utils/title-header' %}
		</header>

		{{section.body}}

		<div class="form-wrap">
		{% if section.meta.test %}
			<form action="//restorenyc.us13.list-manage.com/subscribe/post?u=3ab98ba41ef52e8a3ed2e0745&amp;id=fec4a4262c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate stay-informed" target="_blank" novalidate>
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3ab98ba41ef52e8a3ed2e0745_fec4a4262c" tabindex="-1" value=""></div>
					<input type="text" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
					<div class="btn-wrap">
						<button type="submit" class="btn custom" name="go">Subscribe</button>
					</div>
			</form>
		{% else %}
			<form name="ccoptin" class="stay-informed" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post">
				<input type="hidden" name="llr" value="omfa8lkab">
				<input type="hidden" name="m" value="1110646461838">
				<input type="hidden" name="p" value="oi">
				<input type="hidden" name="sit" value="9lip5aehb">
				<input type="hidden" name="f" value="9811f77e-f28c-474d-b223-b2a5de9ed748">
				<input type="text" name="ea" value="" maxlength="80" placeholder="Email Address">
				<div class="btn-wrap">
					<button type="submit" class="btn custom" name="go">Subscribe</button>
				</div>
			</form>

		{% endif %}
		</div>

	</div>
</section>