{% if section.meta.backgroundImage %}
	{% assign bgImage = true %}
{% else %}
	{% assign bgImage = false %}
{% endif %}

<section class="{{section.meta.sectionClass}} {% if bgImage %}bg-image{% endif %}" style="{{section.meta.sectionStyles}} {% if bgImage %}background-image:url({{section.meta.backgroundImage | replace:' ', '%20'}}){% endif %}">
	<div class="sec-wrap {{section.meta.sectionWrapClass}} {% if bgImage %}vertical-align{% endif %}" style="{{section.meta.sectionWrapStyles}}">
		{% include 'views/utils/title-subheader' %}

		{{section.body}}

		{% for subsection in section.pages %}
			{% if subsection.title contains '__'%}

				{% if subsection.title contains '__?' %}
					{% assign title = '' %}
				{% else %}
					{% assign title = subsection.title | remove_first:'__' %}
				{% endif %}
				{% include 'views/secondary' %}
			{% endif %}
		{% endfor %}
	</div>
</section>