<nav id="site-nav">
	<span class="close">X</span>
	<ul class="site-menu">
		{% for single in site.pages %}
			{% if single.title contains '__' %}
				{% else %}
					{% if single.url == '/' or single.meta.pageType == 'single' %}
						<li class="item"><a href="{{single.url}}">{{single.title}}</a>
					{% else %}
						<li class="item has-sub">{{single.title}} <i class="sub-icon fa fa-caret-right"></i>
						{% for subpage in single.pages %}
							{% if subpage.title contains '__' %}
								{% else %}
									{% if forloop.first %}
										<ul class="submenu">
									{% endif %}
										<li class="subitem"><a href="{{subpage.url}}">{{subpage.title}}</a></li>
									{% if forloop.last %}
										</ul>
									{% endif %}
							{% endif %}
						{% endfor %}
					{% endif %}
					</li>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="footer">
		<div class="social-media">
			<ul>
				<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://restorenyc.org" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/share?text={{site.meta.twitterShare}}&url=http%3A%2F%2Frestorenyc.org" target="_blank"><i class="fa fa-twitter"></i></a></li>
			</ul>
		</div>
	</div>
</nav>