{% assign flickity = true %}

{% capture footer_scripts_jquery %}
	{{footer_scripts_jquery}}
	$('.slider-text').flickity();
{% endcapture %}

{% if section.meta.backgroundImage %}
	{% assign bgImage = true %}
{% else %}
	{% assign bgImage = false %}
{% endif %}
<section class="full-width {{section.meta.sectionClass}} {% if bgImage %}bg-image{% endif %}" style="{{section.meta.sectionStyles}}{% if bgImage %} background-image:url({{section.meta.backgroundImage | replace:' ', '%20'}}){% endif %}">
	<div class="sec-wrap {% if bgImage %}vertical-align{% endif %}">
		{% if section.meta.headerIconClass %}
			<header>
				<div class="icon-wrapper">
					<i class="{{section.meta.headerIconClass}}"></i>
				</div>
			</header>
		{% endif %}
		<div class="slider-text">
			{% for slide in section.pages %}
				<div class="gallery-cell">
					<div class="cell-wrap">
						{{slide.body}}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>