{% assign team = site.pages['about-us'].pages['our-team'] %}
<section class="team-bio {{meta.sectionClass}}" style="{{meta.sectionStyles}}">
	<div class="sec-wrap" style="{{meta.sectionWrapStyles}}">
		<header>
			{% include 'views/utils/title-single' %}
			{% if meta.jobTitle %}
				<h2>{{meta.jobTitle}}</h2>
			{% endif %}
		</header>
		<div class="content">
			{{body}}
		</div>
		{% if parent.meta['sectionLinkUrl'] %}
			<aside>
				<div class="btn-wrap">
					<a class="btn f-c-red" href="{{parent.meta['sectionLinkUrl']}}">{{parent.meta['sectionLinkText']}}</a>
				</div>
			</aside>
		{% endif %}
	</div>
</section>