<section class="{{section.meta.sectionClass}}">
	<div class="sec-wrap clearfix">
		<div class="calendar">
			<header>
				{% include 'views/utils/title-subheader' %}
			</header>
			{% assign posts = section.posts | sort:"date" %}
			{% for post in posts limit:3 %}
				{% include 'views/partials/upcoming-events-post' %}
			{% endfor %}
		</div>
		{% for aside in section.pages limit:1 %}
			{% if aside.title contains '__'%}

				{% if aside.title contains '__?' %}
					{% assign title = '' %}
				{% else %}
					{% assign title = aside.title | remove_first:'__' %}
				{% endif %}
				{% include 'views/partials/upcoming-events-aside' %}
			{% endif %}
		{% endfor %}
	</div>
</section>