{% if section.meta.link %}
	{% assign link = {{section.meta.link}} %}
{% endif %}

<section class="sec-video {% if section.body != ''%}aside {% endif %}{{section.meta.sectionClass}}"{% if section.meta.video %} data-video="{{section.meta.video}}"{% endif %}>
	<div class="sec-wrap clearfix {{section.meta.sectionWrapClass}}" style="{{section.meta.sectionWrapStyles}}">
			{% if section.body != '' %}
				<aside>
					{{section.body}}
				</aside>
			{% endif %}
			{% if section.meta.video %}
				{% include 'views/partials/video-container' %}
			{% endif %}
	</div>
</section>