#hero,
#hero .bg-wrap {
	padding-top: 100px;

}
.home #main {
	//padding-top: 100px;
}

.mh {
	height:100px;
	padding:0;
	.site-logo {
		margin: 29px 0 0 49px;
		font-size:41px;
		display:inline-block;
	}
	.menu-close,
	.menu-btn {
		display:none;
	}
	.mh-right {
		top:4px;
		right:45px;
		position:absolute;
		display:block;
	}
	.nav-btn {
		position: relative;
		font-size:0.6em;
		font-weight:600;
		border:1px solid @restore-red;
		padding:6px 13px;
		margin:10px 0;
		display:block;
		border-radius:8px;
		text-align:center;
		// .transform(perspective(1px) translateZ(0));
		.transition(all, 0.5s, @ease-time);

		// &:before {
		// 	content: "";
		// 	position: absolute;
		// 	z-index: -1;
		// 	border-radius:7px;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	background-color: @restore-red;
		// 	.transform-origin(50% 100%);
		// 	.transform(scaleY(0));
		// 	.transition(transform, 0.3s, ease-out);
		// }

		&:hover {
			background-color:@restore-red;
			color:#fff;
			// &:before {
			// 	.transform(scaleY(1));
			// }
		}

		&.fill-red {
			background-color:@restore-red;
			color:#fff;

			// &:before {
			// 	background-color: #fff;
			// }
			&:hover {
				background-color: #fff;
				color:@restore-red;
			}
		}
	}
}
#site-nav {
	display:none;
}
#top-menu {
	display:block;
	list-style:none;
	margin:0;
	padding:0;
	font-size:0.6em;
	position:absolute;
	top:0;
	left:220px;
	text-align:center;
	//display:inline-block;
	.item {
		display:inline-block;
		position:relative;
		margin-right:-3px;
		color:@restore-red;
		// -webkit-transition:background-color 0.4s, color 0.4s;
		// -moz-transition:background-color 0.4s, color 0.4s;
		// -o-transition:background-color 0.4s, color 0.4s;
		// -ms-transition:background-color 0.4s, color 0.4s;
		// transition:background-color 0.4s, color 0.4s;

		> a, > a:hover, > a:visited, > span {
			padding:0 30px;
			color:inherit;
			font-weight:600;
			height:100px;
			position:relative;
			display:block;
			line-height:114px;
			cursor:pointer;
			.transition(transform, 0.2s);
		}
		> span {
			cursor:default;
		}

		&:hover {
			> a, > span {
				.transform(translateY(-20px));
				//opacity:0.7;
				font-weight: 400;
				&:hover {
					font-weight: 600;
				}
			}
			.submenu {
				display:block;
			}
			&.bg-color-white {
				background-color:#fff;
				color:@restore-red;
			}
			&.bg-color-red {
				background-color:@restore-red;
				color:#fff;
			}
			&.bg-color-dark-grey {
				background-color:@restore-dark-grey;
				color:#fff;
			}
			&.bg-color-purple {
				background-color:@restore-purple;
				color:#fff;
			}
		}
	}
	.submenu {
		display:none;
		width:100%;
		margin:0;
		padding:0;
		list-style:none;
		position:absolute;
		top:55%;
		background-color:inherit;
		color:inherit;
	}
	.subitem {
		font-weight:400;
		&:hover {
			font-weight:600;
		}

		> a, > a:hover, > a:visited {
			color:inherit;
			display:block;
			padding:10px;
			cursor: pointer;
		}
	}
}