.mh {
	//width:1024px;
	margin:0 auto;
	padding-bottom:6px;
	.site-logo {
		margin-left:3%;
		font-size:42px;
	}
	.menu-btn {
		top:2px;
		right:24px;
		span {
			font-family:@font-family;
			position:absolute;
			display:inline-block;
			top:18px;
			right:102%;
			font-size:14px;
			font-weight:400;
			z-index:1;
		}
	}
	.mh-right {
		top:15px;
		right:2%;
		.btn {
			font-size:18px;
			padding:3px 30px;
		}
	}
}
.home {
	.mh {
		position:relative;
		padding:0;
		top:0;
		left:0;
		box-shadow:none;
		.site-logo {
			position:absolute;
			top:8px;
			left:3%;
			margin-left:0;
			z-index:1;
		}
		.menu-btn {
			position:absolute;
			top:2px;
			right:2%;
			z-index:1;
			color:#fff;
		}
	}
}