.mh {
	position:relative;
	padding:10px 0 8px;
	z-index:10;
	box-shadow:0 1px 5px rgba(0,0,0,0.10);
	background-color:#fff;
	.transition(all, 0.3s, @ease-time);
	.site-logo {
		line-height:1;
		margin:0 0 0 20px;
		font-size:40px;
		text-align:left;
		color:@restore-red;
	}
	.menu-btn {
		position:absolute;
		z-index:2;
		right:9px;
		top:8px;
		font-size:36px;
		color:@restore-light-grey;
		padding:5px;
		cursor:pointer;
		-webkit-transform-origin:50%;
		-moz-transform-origin:50%;
		-ms-transform-origin:50%;
		transform-origin:50%;
		.transition(all, 0.3s);
		span {
			display:none;
		}
	}
	.border-menu {
		position:absolute;
		z-index:1;
		right:20px;
		top:14px;
		padding-left: 1.25em;
		&:before {
			box-sizing:content-box;
			content: "";
			position: absolute;
			top: 0.25em;
			left: 0;
			width: 1em;
			height: 0.125em;
			border-top: 0.375em double #000;
			border-bottom: 0.125em solid #000;
		}
	}
	.mh-right {
		display:none;
	}
}
#site-nav {
	overflow-y:scroll;//temp
	text-align:center;
	position:fixed;
	top:0;
	left:100%;
	height:100%;
	width:100%;
	z-index:100;
	background-color:rgba(255,255,255,0.95);
	opacity:0;
	padding:12px 30px 30px;
	.transition(all, 0.3s);
	& * {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	.close {
		position:absolute;
		display:inline-block;
		padding:10px;
		top:7px;
		right:15px;
		z-index:10;
		cursor:pointer;
		font-weight:600;
	}
	.nav-logo {
		font-size:1.5em;
		text-align:center;
	}
	.site-menu {
		margin-top:33px;
	}
	ul {
		list-style: none;
		padding:0;
		margin:0;
		font-size:1em;
	}
	li {
		margin:10px 0;
	}
	.item {
		position:relative;
		color:@restore-dark-grey;
		font-weight:600;
		cursor:pointer;
		font-size:0.8em;
		> a, > a:hover, > a:visited {
			color:@restore-dark-grey;
			font-weight:600;
			padding: 5px 0;
			display:inline-block;
		}
		&.has-sub {
			padding: 5px 0;
		}
		.sub-icon {
			font-size:0.75em;
			margin-left:5px;
			color:@restore-red;
			.transition(all, 0.3s);
		}
		&.open {
			.sub-icon {
				-webkit-transform-origin:50%;
				-moz-transform-origin:50%;
				-o-transform-origin:50%;
				-ms-transform-origin:50%;
				transform-origin:50%;
				.transform(rotate(90deg));
			}
		}
	}
	.submenu {
		display:none;
	}
	.subitem {
		padding-left:15px;
		a, a:hover, a:visited {
			color:@restore-red;
			font-weight:300;
			line-height:1.3;
			padding: 5px 0;
			display:inline-block;
		}
	}
	.footer {
		margin-top:65px;
		position:relative;
	}
	.social-media {
		text-align:center;
		li {
			display:inline-block;
		}
		a {
			font-size:1.2em;
			display:block;
			padding:5px;
		}
	}
}
.nav-open {
	#site-nav {
		left:0;
		opacity:1;
	}
}
.csstransforms3d {
	#site-nav {
		//z-index:0;
		left:100%;
		opacity:1;
		text-align:left;
		width:250px;
		background-color:rgba(255,255,255,0.93);
		overflow-y:scroll;
		.close {
			display:none;
		}
	}
	.nav-open {
			height:100%;
			overflow:hidden;
			position:fixed;
		#site-nav {
			.transform(translate3d(-250px, 0, 0));
		}
		.mh{
			background-color:@restore-red;
			.transform(translate3d(-250px, 0, 0));
			.menu-btn {
				color:#fff;
			}
		}
		#lightbox {
			z-index:2;
		}
	}
}