@mh-height:90px;

.mh {
	position:relative;
	padding:10px 0 8px;
	height:@mh-height;
	z-index:10;
	box-shadow:0 1px 5px rgba(0,0,0,0.3);
	background-color:#fff;
	.transition(all, 0.3s, @ease-time);
	.site-logo {
		line-height:1;
		margin:24px 0 0 24px;
		font-size:32px;
		text-align:left;
		color:@restore-red;
	}
	.menu-close {
		position: fixed;
		padding: 10px;
		top: 35px;
		left: 15px;
		z-index: 10;
		cursor: pointer;
		color:#fff;
		/* font-weight: 500; */
		font-size: 24px;
		opacity:0;
		.transition(all, 0.3s);
	}
	.menu-btn {
		position:absolute;
		z-index:2;
		right:16px;
		top:38px;
		font-size:28px;
		color:@restore-light-grey;
		padding:5px;
		cursor:pointer;
		-webkit-transform-origin:50%;
		-moz-transform-origin:50%;
		-ms-transform-origin:50%;
		transform-origin:50%;
		.transition(all, 0.3s);
		span {
			display:none;
		}
	}
	.border-menu {
		position:absolute;
		z-index:1;
		right:20px;
		top:14px;
		padding-left: 1.25em;
		&:before {
			box-sizing:content-box;
			content: "";
			position: absolute;
			top: 0.25em;
			left: 0;
			width: 1em;
			height: 0.125em;
			border-top: 0.375em double #000;
			border-bottom: 0.125em solid #000;
		}
	}
	.mh-right {
		display:none;
	}
}
#site-nav {
	overflow-y:scroll;//temp
	position:fixed;
	top:0;
	left:100%;
	height:100%;
	width:230px;
	z-index:100;
	opacity:0;
	padding:0;
	font-size: 0.7em;
	text-align:left;
	.transition(all, 0.3s);
	& * {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	.nav-logo {
		text-align:center;
		height:@mh-height;
		background-color:#fff;
		padding:23px 0;
		a {
			display:inline-block;
		}
		.r-icon {
			font-size:1.8em;
		}
		div {
			margin-top:-5px;
			font-weight:300;
		}
	}
	.site-menu {
		margin-top:-5px;
		box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
	}
	ul {
		list-style: none;
		padding:0;
		margin:0;
		font-size:1em;
	}
	li {
		color:@restore-red;

		&.bg-color-white .submenu {
			background-color:#fff;
			li {
				color:@restore-red;
			}
		}
		&.bg-color-red .submenu {
			background-color:@restore-red;
			li {
				color:#fff;
			}
		}
		&.bg-color-dark-grey .submenu {
			background-color:@restore-dark-grey;
			li {
				color:#fff;
			}
		}
		&.bg-color-purple .submenu {
			background-color:@restore-purple;
			li {
				color:#fff;
			}
		}
	}
	.item {
		position:relative;
		background-color: #fff;
		border-bottom: 1px solid #efefef;
		cursor:pointer;

		&.has-sub::after {
			content: "\00a0";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			box-shadow: 0 -15px 25px -5px rgba(0, 0, 0, 0.2);
			.transition(all, 0.6s);
		}

		> a, > a:hover, > a:visited, > span {
			color:inherit;
			font-weight:300;
			padding:12px 30px;
			display:block;
			.transition(opacity, 0.5s);
		}
		>span {
			position:relative;
			height:45px;
		}
		> span:after {
			content: "\00a0";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			box-shadow: 0px 15px 25px -5px rgba(0,0,0,0.2);
			.transition(all, 0.6s);
		}
		> span:before {
			content:"+";
			position:absolute;
			font-size:20px;
			top:8px;
			right:30px;
			z-index:1;
			color:@restore-dark-grey;
		}
		&.open {
			> span::after {
				opacity:1;
			}
			+ .item::after {
				opacity:1;
			}
			.submenu {
				max-height:600px;
			}
		}
		&.nav-btn {
			padding:5px 0 10px;
			text-align:center;
			a {
				font-size:12px;
				border:1px solid @restore-red;
				padding:5px 35px;
				display:inline-block;
				border-radius:7px;
				text-align:center;
			}
			&.fill-red a {
				background-color:@restore-red;
				color:#fff;
			}
		}
	}
	.submenu {
		//display:none;
		.transition(all, 0.5s);
		max-height:0;
		overflow:hidden;
	}
	.subitem {
		a, a:hover, a:visited {
			color:inherit;
			line-height:1.3;
			padding:15px 30px;
			display:block;
		}
		&:first-of-type {
			padding-top:20px;
		}
		&:last-of-type {
			padding-bottom:20px;
		}
	}
}
#top-menu {
	display:none;
}
.nav-open {
	#site-nav {
		//left:0;
		opacity:1;
	}
}

.nav-open {
	height:100%;
	overflow:hidden;
	position:fixed;
	#site-nav {
		.transform(translateX(-230px));
	}
	.mh{
		margin-right:-2px;
		background-color:@restore-red;
		.transform(translateX(-230px));
		.menu-close {
			opacity: 1;
			.transform(translateX(230px));
		}
		.menu-btn {
			opacity: 0;
			cursor: default;
		}
	}
	.site-menu {
		padding-left:2px;
	}
	#lightbox {
		z-index:2;
	}
}
