h1 {
	//font-size:2.4em;
	font-size:3em;
}
h2 {
	//font-size:1.6em;
	font-size:2em;
}
h3 {

}
h1,h2,h3,h4,h5,h6 {
	&.line {
		position:relative;
		padding-bottom:50px;
		line-height:1;
		&:after {
			content:"";
			position:absolute;
			margin-left:auto;
			left:3px;
			bottom:20px;
			width:44px;
			height:2px;
		}
	}
}

.bg-image {
	height:700px;
}

.btn {
	font-size:1em;
	min-width:160px;
}

// .divider {
// 	&.arrow {
// 		margin-bottom:-8px;
// 		box-shadow:0 3px 3px rgba(0,0,0,0.3);
// 		height:1px;
// 		position:relative;
// 		&:before {
// 			content:"";
// 			position:absolute;
// 			top:-2px;
// 			left:50%;
// 			margin-left:-76px;
// 			width:0;
// 			height:0;
// 			border-top:60px solid #fff;
// 			border-left:75px solid transparent;
// 			border-right:75px solid transparent;
// 			z-index:2;
// 		}
// 		&:after {
// 			content:"";
// 			position:absolute;
// 			top:5px;
// 			left:50%;
// 			margin-left:-73px;
// 			width:0;
// 			height:0;
// 			border-top:57px solid rgba(0,0,0, 0.05);
// 			border-left:72px solid transparent;
// 			border-right:72px solid transparent;
// 			z-index:1;
// 		}
// 	}
// }