*, *:before, *:after {
	box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
html, body {
	width:100%;
	height:100%;
}
body {
	margin:0;
	font-family:@font-family;
	font-weight:300;
	color:@text-color;
	line-height:1.5;
	font-size:20px;
	text-align: center;
}
a, a:hover, a:visited {
	text-decoration:none;
	color:@restore-red;
	img {
		border:none;
	}
}
img {
	width:100%;
}
h1 {
	font-size:2em;
}
h2 {
	font-size:1.6em;
}
h3 {
	font-size:1.4em;
}
h1,h2,h3,h4,h5,h6 {
	line-height:1.25;
	margin-top:0.2em;
	margin-bottom:0.2em;
	font-weight:600;
	&.sub {
		font-style:italic;
		margin-top:-1.3em;
	}
	&.thin {
		font-weight:100;
	}
	&.light {
		font-weight:300;
	}
	&.reg {
		font-weight:400;
	}
	&.line {
		position:relative;
		padding-bottom:50px;
		line-height:1;
		&:after {
			content:"";
			position:absolute;
			margin-left:-22px;
			left:50%;
			bottom:20px;
			width:44px;
			height:2px;
		}
	}
	&.red:after {
		background-color:@restore-red;
	}
	&.purple:after {
		background-color:@restore-purple;
	}
}
p {
	margin-top:0;
}
p:only-of-type {
	margin-top:1em;
}
strong {
	font-weight:600;
}
strong.red {
	color:@restore-red;
}
mark {
	background-color:@restore-purple;
	color:@restore-light-grey;
}
blockquote {
	border-left:6px solid @restore-purple;
	margin:55px 0 55px 40px;
	padding: 0 0 0 20px;
	font-weight:600;
	font-size:1.5em;
	font-style:italic;
	position:relative;
	text-align:left;
	line-height:1.25;
	&:after {
		content:"\201C";
		position:absolute;
		font-size:2.933em;
		color:@restore-red;
		top:-5px;
		left:-70px;
		line-height:1;
	}
	&.plain {
		&:after {
			display:none;
		}
	}
	span {
		display:block;
		font-style:normal;
		font-size:0.733em;
		font-weight:400;
		margin-top:0.8em;
	}
}

.title {
	color:#777;
}

// LISTS
ul.list {
	list-style:none;
	li {
		position:relative;
		padding-left:10px;
		&:before {
			content:'\f00c';
			font-family:FontAwesome;
			position:absolute;
			left:-25px;
			top:0px;
			color:@restore-red;
		}
	}
}
ul.bullet {
	list-style:none;
	li {
		position:relative;
		padding-left:10px;
		&:before {
			content:@restore-icon;
			font-family:'restore-font';
			position:absolute;
			left:-25px;
			top:px;
			color:@restore-red;
		}
	}
}

// BUTTONS
.btn,
a.btn {
	border-color:@restore-red;
	border-style:solid;
	color:@restore-dark-grey;
	display:inline-block;
	font-weight:400;
	text-align:center;
	min-width:120px;
	border-width:2px;
	font-size:0.85em;
	padding:0.6em 0.85em;
	border-radius: 7px;
	cursor:pointer;
	.transition(all, 0.4s, @ease-time);

	&.small {
		border-width:1px;
		font-size:0.8em;
		letter-spacing:1px;
		padding: 0.3em 0.55em;
	}
	&.fill-red {
		background-color:@restore-red;
		color:#fff;
	}
	&.fill-dark-grey {
		background-color:@restore-dark-grey;
		color:#fff;
	}
	&.fill-purple {
		background-color:@restore-purple;
		border-color:@restore-purple;
		color:#fff;
	}
	&.fill-white {
		background-color:#fff;
		color:@restore-dark-grey;
	}
	&.icon {
		padding-left:0.6em;
		padding-right:1em;
		.fa,
		.r-icon {
			display:inline-block;
			margin-left:0.2em;
			margin-right:0.5em;
			font-size:1.3em;
		}
	}
	&.block {
		display:block;
		margin-bottom:15px;
	}
}
.btn-wrap {
	margin:30px 0;
}

// UTILS
section {
	//margin-bottom:70px;
	padding-top:70px;
	padding-bottom: 50px;
	background-color:#fff;
	&:extend(.clearfix all);
}
.sec-wrap {
	padding:0 20px;
}
.full-width {
	.sec-wrap {
		padding:0;
	}
}

.bg-image {
	padding-top:0;
	padding-bottom:0;
	height:540px;
	background-position: center;
	background-size:cover;
	background-repeat:no-repeat;
}
.flush-top {
	padding-top:0;
	// p:only-child {
	// 	margin-top:0;
	// }
}
.flush-top-half {
	padding-top:35px;
}
.flush-bottom {
	padding-bottom:0;
}
.flush-bottom-half {
	padding-bottom:25px;
}
.vertical-align {
	position: relative;
	top: 50%;
	.transform(translateY(-50%));
}
.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}
.align-center {
	text-align:center;
}


// DIVIDERS
.divider {
	margin:15px 0;
	&.icon {
		text-align:center;
		.restore-icon {
			font-size:1.2em;
			margin-left:-2px;
			color:@restore-red;
		}
	}
	& + p {
		margin-top:0;
	}
	&.line {
		position:relative;
		padding-bottom:50px;
		line-height:1;
		&:after {
			content:"";
			position:absolute;
			margin-left:-22px;
			top:40%;
			left:50%;
			bottom:20px;
			width:44px;
			height:2px;
		}
	}
	&.red:after {
		background-color:@restore-red;
	}
	&.purple:after {
		background-color:@restore-purple;
	}
	&.arrow {
		background-color:#fff;
		margin:0 0 -8px;
		box-shadow:0 2px 2px rgba(0,0,0,0.1);
		height:5px;
		position:relative;
		&:before {
			content:"";
			position:absolute;
			top:0px;
			left:50%;
			margin-left:-45px;
			width:0;
			height:0;
			border-top:36px solid #fff;
			border-left:45px solid transparent;
			border-right:45px solid transparent;
			z-index:2;
		}
		&:after {
			content:"";
			position:absolute;
			top:5px;
			left:50%;
			margin-left:-43px;
			width:0;
			height:0;
			border-top:34px solid rgba(0,0,0,0.07);
			border-left:43px solid transparent;
			border-right:43px solid transparent;
			z-index:1;
		}
	}
}

// FONT TREATMENTS
.f-w-thin {
	font-weight:100;
}
.f-w-light {
	font-weight:300;
}
.f-w-reg {
	font-weight:400;
}
.f-w-semi {
	font-weight:600;
}
.f-w-bold {
	font-weight:800;
}
.f-c-white {
	color:#fff !important;
}
.f-c-black {
	color:#000 !important;
}
.f-c-red {
	color:@restore-red !important;
}

// Input
input[type=text],
textarea {
	display:block;
	width:100%;
	margin:15px auto 21px;
	padding:0.75em 1em;
	background-color:rgba(255,255,255,0.25);
	outline:none;
	border:none;
	font-size:1em;
	color:#fff;
	text-align:left;
	-webkit-appearance: none;
	&::-webkit-input-placeholder {
		color:#fff;
		letter-spacing:1px;
		font-weight:200;
	}
	&::-moz-placeholder {
		color:#fff;
		font-weight:200;
		letter-spacing:1px;
	}
	&:-ms-input-placeholder {
		color:#fff;
		font-weight:200;
		letter-spacing:1px;
	}
}

//lightbox
#lightbox {
	opacity:0;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-10;
	.transition(opacity);
	&.open {
		opacity:1;
		z-index:10;
	}
	.wrap {
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.5);
	}
}

//Columns
.columns-2 {
	ul {
		list-style:none;
		margin:0;
		padding:0;
	}
	li {
		margin-bottom:40px;
		-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
		page-break-inside: avoid; /* Firefox */
		break-inside: avoid; /* IE 10+ */
	}
	h3 {
		font-size:1em;
	}
}

.header-link,
.block-link {
	display:block;
}

//Animation
// .row {
// 	opacity:0;
// 	.transform(translateY(20px));
// 	transition: transform .5s ease-in-out, opacity .5s ease-in-out;
// 	&.viewed {
// 		opacity:1;
// 		.transform(translateY(0));
// 	}
// }