.home {
}
.sm-tweet {
	height:640px;
	text-align:center;
}
.upcoming-events {
	padding:140px 0 145px;
	.sec-wrap {
		position:relative;
		padding:0 135px 0 140px;
		&:extend(.clearfix all);
	}
	.calendar {
		width:450px;
		float:left;
		margin-bottom:0;
		> header {
			padding:13px 25px;
		}
		article:hover {
			background-color:@restore-purple;
			> a {
				color:#fff;
			}
			.cal-time {
				background-color:#fff;
				color:@restore-purple;
			}
		}
	}
	aside {
		width:205px;
		float:right;
		padding-top:45px;
	}
}
.get-involved-icons {
	h3 {
		margin:0.5em;
	}
	.img-wrap {
		width:120px;
		height:120px;
	}
	.item {
		width:200px;
		margin:10px 20px;
	}
}