@principles-bg: '/assets/Principles_Bg-Image-large.jpg';

.sm-tweet {
	height:640px;
	text-align:center;
}
.upcoming-events {
	padding:140px 0 145px;
	.sec-wrap {
		position:relative;
		padding:0 135px 0 140px;
		&:extend(.clearfix all);
	}
	.calendar {
		width:450px;
		float:left;
		margin-bottom:0;
		> header {
			padding:13px 25px;
		}
		article:hover {
			background-color:@restore-purple;
			> a {
				color:#fff;
			}
			.cal-time {
				background-color:#fff;
				color:@restore-purple;
			}
		}
	}
	aside {
		width:205px;
		float:right;
		padding-top:45px;
		.btn.fill-red {
			color:#fff;
		}
	}
}
.billboard {
	.slider-billboard {
		padding:50px;
	}
	.flickity-prev-next-button {
		&.previous {
			left:5px;
		}
		&.next {
			right:5px;
		}
	}
	.image-wrap {
		.play-btn {
			.outer {
				width:120px;
				height:120px;
				border-width:4px;
			}
			.inner {
				border-top-width:23px;
				border-bottom-width:23px;
				border-left-width:46px;
			}
			.inner-shadow {
				border-top-width:25px;
				border-bottom-width:25px;
				border-left-width:50px;
			}
		}
	}
}

.home {
	.programs {
		// .sec-wrap {
		// 	text-align: center;

		// 	> article:nth-child(2) {
		// 		margin: 0 42px;
		// 	}
		// }
		.panel {
			//vertical-align: top;
			//display: inline-block;
			width: 29%;
			margin-bottom: 0;

			// header {
			// 	width: 100%;
			// 	padding-bottom: 100%;
			// 	display: block;
			// }
			// .content {
			// 	width: auto;
			// 	position: static;
			// 	.transform(translateY(0));
			// 	text-align: left;
			// }
		}
	}
	.principles {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		background-position: center top;
background-image: url(@principles-bg);
background-image: -webkit-gradient(linear, left top, right top,
	color-stop(0%,rgba(255,255,255,1)),
	color-stop(12%,rgba(255,255,255,0)),
	color-stop(88%,rgba(255,255,255,0)),
	color-stop(100%,rgba(255,255,255,1))
), url(@principles-bg);
background-image: -webkit-linear-gradient(left,
	rgba(255,255,255,1) 0%,
	rgba(255,255,255,0) 8%,
	rgba(255,255,255,0) 92%,
	rgba(255,255,255,1) 100%
), url(@principles-bg);
background-image: -moz-linear-gradient(left,
	rgba(255,255,255,1) 0%,
	rgba(255,255,255,0) 8%,
	rgba(255,255,255,0) 90%,
	rgba(255,255,255,1) 100%
), url(@principles-bg);
background-image: -ms-linear-gradient(left,
	rgba(255,255,255,1) 0%,
	rgba(255,255,255,0) 8%,
	rgba(255,255,255,0) 92%,
	rgba(255,255,255,1) 100%
), url(@principles-bg);
background-image: -o-linear-gradient(left,
	rgba(255,255,255,1) 0%,
	rgba(255,255,255,0) 8%,
	rgba(255,255,255,0) 92%,
	rgba(255,255,255,1) 100%
),url(@principles-bg);
background-image: linear-gradient(left,
	rgba(255,255,255,1) 0%,
	rgba(255,255,255,0) 8%,
	rgba(255,255,255,0) 92%,
	rgba(255,255,255,1) 100%
),url(@principles-bg);

	}
	.sec-image-subsection {
		padding-bottom: 20px;

		.image-wrap img {
			width: 100%;
		}
	}
}