.home {
	.sec-wrap {
		padding-left:75px;
		padding-right:75px;
	}
}
.our-mission {
	text-align:center;
}
.our-vision {
	text-align:left;
	.btn {
		margin-top:30px;
	}
}
.get-involved {
	h2 {
		text-align:left;
		margin-bottom:60px;
	}
}
.sm-tweet {
	.tweet {
		width:300px;
		margin:20px auto;
	}
}
.upcoming-events {
	padding:110px 0;
	.sec-wrap {
		padding:0 20%;
	}
}
.billboard {
	.slider-billboard {
		background-color:@restore-light-grey;
		padding:40px;
	}
	.image-wrap {
		.play-btn {
			.outer {
				width:70px;
				height:70px;
				border-width:3px;
			}
			.inner {
				border-top-width:14px;
				border-bottom-width:14px;
				border-left-width:28px;
			}
			.inner-shadow {
				border-top-width:16px;
				border-bottom-width:16px;
				border-left-width:32px;
			}
		}
	}
}

.home {
	h2 {
		font-size: 34px;
	}
	.sec-wrap {
		padding-left:30px;
		padding-right:30px;
	}
	.btn,
	a.btn {
		padding: .8em 3em;
	}
	.principles {
		background-image: url('/assets/2016-12-01_Watercolor-mark1.png'), url('/assets/Principles_Bg-Image-large.jpg');
		background-position: 160% 90%, center bottom;
		background-size: auto, 100%;

		h3 {
			font-size: 28px;
		}

		.who-we-serve {
			p {
				max-width: 60%;

			}
		}

		.principle {
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.our-approach {
		.our-approach-infographic {
			background-image: url('/assets/Our-Approach_Our-Model-Infographic.png');
			padding-top: 64.93%;
		}
	}
	.programs {
		.panel {
			position: relative;
		}
		header {
			width: 45%;
			padding-bottom: 45%;
			display: inline-block;
		}
		.content {
			width: 50%;
			position: absolute;
			left: 50%;
			top: 50%;
			.transform(translateY(-50%));

			.btn {
				min-width: auto;
			}
		}
	}
	.get-involved {
		height: 700px;
		h2 {
			text-align: center;
		}
	}
}