.home {
	.sec-wrap {
		padding-left:125px;
		padding-right:125px;
	}
}
.upcoming-events {
	.calendar {
		article {
			display:table;
			width:100%;
			> a {
				display:table-row;
			}
			header {
				display:table-cell;
				vertical-align:middle;
				float:left;
				margin-top:0;
				max-width: 305px;
				padding-left:40px;
				text-align:left;
				h3 {
					margin:0;
				}
			}
		}
		.cal-time-wrap {
			display:table-cell;
			float:left;
		}
		.cal-link {
			font-size:40px;
			display:table-cell;
			vertical-align:middle;
		}
	}
}
.billboard {
	.image-wrap {
		.play-btn {
			.outer {
				width:90px;
				height:90px;
				border-width:4px;
			}
			.inner {
				border-top-width:18px;
				border-bottom-width:18px;
				border-left-width:36px;
			}
			.inner-shadow {
				border-top-width:20px;
				border-bottom-width:20px;
				border-left-width:40px;
			}
		}
	}
}
.home {
	.sec-wrap {
		padding-left:45px;
		padding-right:45px;
	}
}