.gallery-cell {
	width:100%;
}
.flickity-page-dots .dot {
	background-color:#fff;
	opacity:0.3;
}
.flickity-prev-next-button {
	background:transparent;
	opacity:0.3;
	&:hover {
		background:transparent;
	}
	.arrow {
		fill:#fff;
	}
}

.bg-image {
	.flickity-page-dots {
		bottom:-95px;
	}
}
@media screen and (min-width:600px) {
	.bg-image {
		.flickity-page-dots {
			bottom:-155px;
		}
	}
}

@media screen and (min-width:768px) {
	.bg-image {
		.flickity-page-dots {
			//bottom:-135px;
		}
	}
}

@media screen and (min-width:1024px) {
	.bg-image {
		.flickity-page-dots {
			bottom:-95px;
		}
	}
}
