.gallery-cell {
	width:100%;
}
.flickity-page-dots .dot {
	background-color:#fff;
	opacity:0.3;
}
.bg-image {
	.flickity-page-dots {
		bottom:-165px;
	}
}
.flickity-prev-next-button {
	background:transparent;
	opacity:0.3;
	&:hover {
		background:transparent;
	}
	.arrow {
		fill:#fff;
	}
}