<!DOCTYPE html>
<!--[if lte IE 8]>   <html class="ie8 no-js">           <![endif]-->
<!--[if IE 9]>       <html class="ie9 no-js">           <![endif]-->
<!--[if !IE]><!-->   <html lang="en-US" class="no-js">  <!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Language" content="en">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if meta.redirect %}
			<meta http-equiv="refresh" content="0;url={{meta.redirect}}">
		{% endif %}

		{% if parentTitle %}
			<title>{{parentTitle}} | {{pageTitle}}</title>
		{% else %}
			<title>{{pageTitle}}</title>
		{% endif %}

		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="fluid-icon" href="{{site.permalink}}/fluidicon.png" title="RestoreNYC">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-114.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png">

		<link rel="canonical" href="{{current.permalink| fallback:site.permalink}}" />

		<meta property="og:url" content="{{current.permalink| fallback:site.permalink}}">
		<meta property="og:site_name" content="{{site.title}}">
		<meta property="og:title" content="{{pageTitle | fallback:site.title}}">
		<meta property="og:image" content="{{site.permalink}}{{current.meta.metaImage | fallback:site.meta.metaImage}}" />
		<meta property="og:description" content="{{current.meta.fbShare | fallback:current.meta.metaDescription | fallback:pageTitle}}">
		<meta property="description" content="{{current.meta.metaDescription | fallback:site.meta.metaDescription}}">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@restorenyc">
		<meta name="twitter:title" content="{{pageTitle | fallback:site.title}}">
		<meta name="twitter:description" content="{{current.meta.twitterShare | fallback:current.meta.metaDescription | fallback:pageTitle}}">
		<meta name="twitter:image" content="{{site.permalink}}{{current.meta.metaImage}}">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script src="/src/lib/modernizer.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/{{site.meta.fontAwesomeVersion}}/css/font-awesome.min.css">
		{% if flickity %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.min.css">{% endif %}
		{{ header_styles }}
		<link id="main-styles" rel="stylesheet" type="text/css" href="/src/css/styles.css?ver=1464013842719">
		{{ header_scripts }}
		<script src="//use.typekit.net/oln3ahs.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</head>
	<body class="{% if home? %}{{'home'}}{% endif %}">
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WXNZJ"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','{{site.meta.googleTagManager}}');</script>
		<!-- End Google Tag Manager -->
		<header class="mh">
			<div class="site-logo">
				<a href="/">
					<span class="r-icon restore-logo"></span>
				</a>
			</div>
			<span class="menu-btn r-icon restore-menu-btn" data-ga="nav--click--open">
				<span>Menu</span>
			</span>
		</header>

		{% include 'views/partials/site-nav' %}

		<div id="main">
			{{ content | strip_newlines}}
		</div>
		<footer class="flush-top">
			<div class="footer-wrap">
				<div class="top clearfix">
					<div class="header">
						<h2>Stay Informed</h2>
						<!-- BEGIN: Constant Contact Basic Opt-in Email List Form -->
						<form name="ccoptin" class="stay-informed" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post">
							<input type="hidden" name="llr" value="omfa8lkab"/ >
							<input type="hidden" name="m" value="1110646461838" />
							<input type="hidden" name="p" value="oi">
							<input type="hidden" name="sit" value="9lip5aehb">
							<input type="hidden" name="f" value="68e36c27-5051-4c9d-b5f3-471899ca929b">
							<div class="input-wrap" />
								<input type="text" name="ea" placeholder="Email" maxlength="50" />
								<button type="submit" class="btn large fill-dark-grey" name="go">Submit</button>
							</div>
						</form>
						<!-- END: Constant Contact Basic Opt-in Email List Form -->
					</div>
					<div class="links clearfix">
						{{site.pages['footer'].pages['links'].body}}
					</div>
				</div>
				<div class="bottom clearfix">
					<div class="logo-wrap">
						<span class="r-icon restore-logo"></span>
						{% if home? %}
							<h1>Rebuilding the Life Intended</h1>
						{% else %}
							<h2>Rebuilding the Life Intended</h2>
						{% endif %}
					</div>
					<div class="social">
						{{site.pages['footer'].pages['social-media'].body}}
					</div>
				</div>
				<div class="copyright">{{site.pages['footer'].pages['copyright'].body}}</div>
			</div>
		</footer>
		<div id="lightbox">
			<div class="wrap"></div>
			<div class="content"></div>
		</div>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		{% if flickity %}<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.pkgd.min.js"></script>{% endif%}
		<script type="text/javascript" src="/src/js/scripts.js?ver=1474636844937"></script>
		{{ footer_scripts }}
		{% if footer_scripts_jquery %}
			<script type="text/javascript">
				(function($){
					$(document).ready(function(){
						{{footer_scripts_jquery}}
					});
				})(jQuery);
			</script>
		{% endif %}
	</body>
</html>