<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="description" content="{{excerpt | fallback:site.meta.description | strip_html | truncate: 300 | escape}}">
		<meta property='st:title' content='{{ pageTitle }}' />
		{% if meta.redirect %}
			<meta http-equiv="refresh" content="0;url={{meta.redirect}}">
		{% endif %}
		<meta name="robots" content="none">

		{% if parent %}
			<title>{{parent.title}} | {{pageTitle}}</title>
		{% else %}
			<title>{{pageTitle}}</title>
		{% endif %}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		{{ header_styles }}
		<link rel="stylesheet" type="text/css" href="/src/css/styles.css">

		{{ header_scripts }}
		<!-- design@restorenyc.org -->
		<script src="//use.typekit.net/oln3ahs.js"></script>
		<!-- jayme@restorenyc.org -->
		<!-- <script src="//use.typekit.net/prz1lek.js"></script> -->
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</head>
	<body class="{% if home? %}{{'home'}}{% endif %}">
		<header class="mh">
			<div class="site-logo">
				<a href="/">
					<span class="r-icon restore-logo"></span>
				</a>
			</div>
			<span class="menu-btn r-icon restore-menu-btn">
				<span>Menu</span>
			</span>
		</header>

		{% include 'views/partials/site-nav' %}

		<div id="main">
			{% if home? %}
			<!-- <section class="dynamic-lead full-width">
				<div class="dl-wrap">
					<article>
						<header>
							<h2>REBUILDING <span class="f-w-thin">THE LIFE INTENDED</span></h2>
						</header>
						<figure>
							<img style="background-image:url(/src/images/home/bg-slider-heart.jpg);" src="/src/images/base/clear.gif"/>
						</figure>
						<div class="article-content">
							<div class="btn-wrap">
								<a class="btn" href="#">Get involved</a>
								<a class="btn fill-red" href="#">Give</a>
							</div>
						</div>
					</article>
				</div>
			</section> -->

			{% endif %}
			{{ content }}
		</div>
		<footer class="flush-top">
			<div class="footer-wrap">
				<div class="top clearfix">
					<div class="header">
						<h2>Stay Informed</h2>
<!-- BEGIN: Constant Contact Basic Opt-in Email List Form -->

     <!-- END: Constant Contact Basic Opt-in Email List Form -->

     					<form name="ccoptin" class="stay-informed" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post">
							<input type="hidden" name="llr" value="omfa8lkab"/ >
							<input type="hidden" name="m" value="1110646461838" />
							<input type="hidden" name="p" value="oi">
							<input type="hidden" name="sit" value="9lip5aehb">
							<input type="hidden" name="f" value="68e36c27-5051-4c9d-b5f3-471899ca929b">
							<div class="input-wrap" />
								<input type="text" name="ea" placeholder="Your email" maxlength="50" />
								<button type="submit" class="btn large fill-dark-grey" name="go">Submit</button>
							</div>
						</form>
					</div>
					<div class="links clearfix">
						{{site.pages['footer'].pages['links'].body}}
					</div>
				</div>
				<div class="bottom clearfix">
					<div class="logo-wrap">
						<span class="r-icon restore-logo"></span>
						<h1>Rebuilding the Life Intended</h1>
					</div>
					<div class="social">
						{{site.pages['footer'].pages['social-media'].body}}
					</div>
				</div>
				<div class="copyright">{{site.pages['footer'].pages['copyright'].body}}</div>
			</div>
		</footer>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="/src/js/scripts.js"></script>
		{{ footer_scripts }}
	</body>
</html>