{% if section.meta.sectionTemplate %}
	{% assign template = section.meta.sectionTemplate %}

	{% if template == 'divider-arrow' %}
		{% include 'views/utils/divider-arrow' %}
	{% elsif template == 'section' %}
		{% include 'views/partials/section' %}
	{% elsif template == 'single' %}
		{% include 'views/partials/single' %}
	{% elsif template == 'post' %}
		{% include 'views/partials/post' %}
	{% elsif template == 'twitter' %}
		{% include 'views/partials/twitter' %}
	{% elsif template == 'upcoming-events' %}
		{% include 'views/partials/upcoming-events' %}
	{% elsif template == 'upcoming-events-aside' %}
		{% include 'views/partials/upcoming-events-aside' %}
	{% elsif template == 'featured' %}
		{% include 'views/partials/upcoming-events-aside' %}

	{% else %}
		{% include 'views/partials/section' %}
	{% endif %}
{% endif %}