{% comment %}
	// main section (subpage) loop
{% endcomment %}

{% if section.meta.sectionTemplate %}
	{% assign template = section.meta.sectionTemplate %}

	{% if template == 'divider-arrow' %}
		{% include 'views/utils/divider-arrow' %}
	{% elsif template == 'header' %}
		{% include 'views/partials/header' %}
	{% elsif template == 'subheader' %}
		{% include 'views/partials/subheader' %}
	{% elsif template == 'section' %}
		{% include 'views/partials/section' %}
	{% elsif template == 'single' %}
		{% include 'views/partials/single' %}
	{% elsif template == 'banner-lead' %}
		{% include 'views/partials/banner-lead' %}
	{% elsif template == 'twitter' %}
		{% include 'views/partials/twitter' %}
	{% elsif template == 'upcoming-events' %}
		{% include 'views/partials/upcoming-events' %}
	{% elsif template == 'upcoming-events-aside' %}
		{% include 'views/partials/upcoming-events-aside' %}
	{% elsif template == 'featured' %}
		{% include 'views/partials/featured' %}
	{% elsif template == 'team-grid' %}
		{% include 'views/partials/team-grid' %}
	{% elsif template == 'grid-2' %}
		{% include 'views/partials/grid-2' %}
	{% elsif template == 'grid-3' %}
		{% include 'views/partials/grid-3' %}
	{% elsif template == 'grid-4' %}
		{% include 'views/partials/grid-4' %}
	{% elsif template == 'pray' %}
		{% include 'views/partials/pray' %}
	{% elsif template == 'slider-text' %}
		{% include 'views/partials/slider-text' %}

	{% else %}
		{% include 'views/partials/section' %}
	{% endif %}

{% elsif meta.sectionTemplate %}
	{% comment %}
		// if a custom single page
	{% endcomment %}
	{% assign template = meta.sectionTemplate %}
	{% if template == 'team-bio' %}
		{% include 'views/partials/team-bio' %}

	{% else %}
		{% include 'views/partials/section' %}
	{% endif %}

{% else %}
	{% comment %}
		// single fallback
	{% endcomment %}
	{% include 'views/partials/single' %}
{% endif %}