{% if subsection.meta.sectionTemplate %}
	{% assign template = subsection.meta.sectionTemplate %}

	{% if template == 'post' %}
		{% include 'views/partials/post' %}
	{% elsif template == 'infobox' %}
		{% include 'views/partials/infobox' %}
	{% elsif template == 'icon-over-text' %}
		{% include 'views/partials/icon-over-text' %}
	{% elsif template == 'image' %}
		{% include 'views/partials/image-subsection' %}
	{% elsif template == 'panel' %}
		{% include 'views/partials/panel' %}


	{% else %}
		{% include 'views/partials/post' %}
	{% endif %}

{% else %}
	{% include 'views/partials/post' %}
{% endif %}