.subheader {
	& + section {
		padding-top:110px;
	}
	& + section.flush-top {
		padding-top:0px;
	}
	p {
		text-align:center;
	}
}
.featured {
	h2 {
		width:80%;
	}
}
.team-grid {
	.sec-wrap {
		padding-left:0;
		padding-right:0;
	}
}
.team-bio {
	header {
		margin-top:110px;
	}
	h1 {
		font-size:3.58em;
	}
	h2 {
		margin-top:-20px;
		margin-left:83px;
		font-size:1.42em;
	}
	aside {
		.btn:hover {
			background-color:@restore-red;
			color:#fff !important;
		}
	}
}
.infobox {
	padding-top:60px;
	margin-bottom:100px;
	&:before {
		height:60px;
	}
	&:first-of-type {
		margin-top:120px;
		.grid-2 & {
			margin-top:0;
		}
	}
	.icon-wrapper {
		width:125px;
		height:125px;
		top:-39px;
		margin-left:-60px;
		border-width:6px;
		.fa, .r-icon {
			font-size:52px;
		}
		& + h3 {
			margin-top:75px;
		}
	}
	.content {
		margin-top:30px;
		padding:0 80px 54px;
		.btn-wrap {
			margin-top:50px;
		}
	}
}
.pray {
	text-align:left;
	.sec-wrap {
		width:760px;
		padding:0;
	}
	header {
		text-align:center;
		.divider.icon .restore-icon {
			font-size:1.667em;
		}
	}
	h1 {
		font-size:3.33em;
	}
	.form-wrap {
		width:auto;
	}
	input[type=text] {
		text-align:left;
	}
	button.custom:hover {
		background-color:@restore-light-grey;
	}
}
.contact-us {
	.sec-wrap {
		width:760px;
		padding:0;
	}
	header {
		text-align:center;
		.divider.icon .restore-icon {
			font-size:1.667em;
		}
	}
	h1 {
		font-size:3.33em;
	}
	.btn-wrap {
		text-align:left;
	}
	button.custom:hover {
		background-color:#fff;
		color:@restore-red;
	}
}
.contact-info {
	h4 {
		margin:5px 0;
	}
}
.page404 {
	.r-icon {
		font-size:8em;
	}
}
.sec-image,
.sec-image-subsection {
	.image-wrap {
		text-align:center;
		img {
			width:640px;
		}
	}
	.caption-wrap {
		padding-left:0;
		padding-right:0;
	}
	figcaption {
		width:640px;
		margin:0 auto;
		padding-right:250px;
	}
	&.align-right {
		.caption-wrap {
			padding-right:0;
			padding-left:0;
		}
		figcaption {
			text-align:right;
			padding-right:0;
			padding-left:250px;
		}
	}
}
.sec-image-subsection {
	width: 49.5%;
	display: inline-block;

	&:nth-of-type(1) {
		padding-right: 2%;
	}

	&:nth-of-type(2) {
		padding-left: 2%;
	}

	figcaption {
		width: auto;
		padding-right: 0;
	}
}
.sec-inline-icons {
	h3 {
		margin:0.5em;
	}
	.border {
		width:120px;
		height:120px;
		margin-left:-60px;
		//.animation(spinAround 9s linear infinite);
	}
	.img-wrap {
		width:120px;
		height:120px;
	}
	.item {
		overflow: visible;
		width:185px;
		margin:10px 20px;
	}
}
.sec-inline-icons a:hover {
	.border {
		.animation(pulse 0.3s linear infinite alternate);
		//border-style:dashed;
	}
	.img-wrap img {
		.animation(pulse 0.3s linear infinite alternate);
		//.transform(scale(1.15));
	}
}
.sec-video {
	padding-bottom: 0;

	.sec-wrap {
		padding: 0;
	}
	aside {
		width: 380px;
		text-align: left;
		position: absolute;
		padding: 0 30px 0 45px;
		top: 50%;
		.transform(translateY(-50%));

		>p {
			font-size: 32px;
		}

		.btn {
			padding: .8em 1em;
		}
	}
	.video {
		width: 644px;
		float: right;
	}
	.image-wrap {
		.play-btn {
			.outer {
				width:120px;
				height:120px;
				border-width:4px;
			}
			.inner {
				border-top-width:23px;
				border-bottom-width:23px;
				border-left-width:46px;
			}
			.inner-shadow {
				border-top-width:25px;
				border-bottom-width:25px;
				border-left-width:50px;
			}
		}
	}
}

.keyframes(spinAround, {
	from {
		.transform(rotate(0deg));
	}
	to {
		.transform(rotate(360deg));
	}
});

.keyframes(pulse, {
	0 {
		.transform(scale(1));
	}
	100% {
		.transform(scale(1.05));
	}
});

.panel {
	width: 29%;
	margin: 0 0 30px;

	&:nth-of-type(2n+2) {
		margin: 0 42px;
	}
}
.campaign-support .content {
	width: 500px;
	float: left;
}
.support-module {
	width: 360px;
	float: right;
	margin-top: -30px;
}