.single-header {
	h1 {
		&.small-font {
			font-size:2.5em;
		}
	}
}
.subheader {
	.sec-wrap {
		padding-left:75px;
		padding-right:75px;
	}
	.divider.arrow {
		margin:-6px 0 0;
	}
	& + .content.flush-top {
		padding:40px 0 35px 0;
	}
}
.featured {
	h2 {
		width:70%;
		margin:auto;
	}
}
.team-grid {
	a {
		height:100%;
	}
}
.team-bio {
	header {
		margin-top:90px;
	}
	h1 {
		font-size:2.9em;
	}
	h2 {
		margin-top:-5px;
		margin-left:36px;
		font-size:1.2em;
	}
}
.infobox {
	.content {
		padding-bottom:44px;
	}
}
.pray {
	header {
		padding-top:85px;
		padding-bottom:80px;
		.divider.icon .restore-icon {
			font-size:1.7em;
		}
	}
	h1 {
		font-size:3em;
		line-height:1;
	}
	.form-wrap {
		margin:110px auto 70px;
	}
}
.contact-us {
	header {
		padding-top:85px;
		padding-bottom:80px;
		.divider.icon .restore-icon {
			font-size:1.7em;
		}
	}
	h1 {
		font-size:3em;
		line-height:1;
	}
}
.shop-col {
	li div {
		margin-left:20px;
	}
}
.sec-inline-icons {
	h2 {
		margin-bottom:50px;
	}
}
.sec-video {
	aside {
		width: 480px;

		> p {
			font-size: 34px;
		}
	}
	.image-wrap {
		.play-btn {
			.outer {
				width:70px;
				height:70px;
				border-width:3px;
			}
			.inner {
				border-top-width:14px;
				border-bottom-width:14px;
				border-left-width:28px;
			}
			.inner-shadow {
				border-top-width:16px;
				border-bottom-width:16px;
				border-left-width:32px;
			}
		}
	}

}
.sec-image-subsection {
	text-align: left;
}
.panel {
	margin-left: 42px;
	margin-right: 42px;
	vertical-align: top;
	display: inline-block;
	width: 49%;
	max-width: 300px;
	margin-bottom: 40px;

	header {
		width: 100%;
		padding-bottom: 100%;
		display: block;
	}
	.content {
		width: auto;
		position: static;
		.transform(translateY(0));
		text-align: left;
	}
}
.campaign-support {
	padding: 20px 0 30px;

	.inner {
		padding: 0 20px;
	}
	.content {
		padding: 10px 0 0;

		p {
			font-size: 20px;
			line-height: 24px;
			margin-top: 0px;
		}

		.headline {
			text-align: left;
			font-size: 32px;
		}
	}
}
.support-module {
	padding: 15px 20px;

	.headline {
		font-size: 18px;
		line-height: 26px;
	}

	.form-input {
		padding: 8px 85px 9px 35px;
		margin: 14px 0 21px;

		.suffix {
			display: block;
			right: 15px;
			top: 7px;
		}
	}

	.controls {
		.btn {
			padding-left: 0;
			padding-right: 0;
			width: 47%;
			float: left;
		}
		.last {
			float: right;
		}
	}
}
.subscribe-module {
	padding: 40px 30px 30px;

	header p {
		margin: 15px 0 25px;
	}

	.email {
		padding: 10px 15px;
	}

	.email-submit {
		padding: 7px 15px;
	}
}
.donate-module {
	padding: 40px 50px 40px;

	header p {
		margin: 15px 0 25px;
	}

	.form-input {
		padding: 9px 35px;

		.prefix {
			top: 7px;
		}
	}

	.donate-action {
		padding-top: 4px;
		padding-bottom: 4px;
	}

	.monthly {
		font-size: 20px;

		i {
			font-size: 22px;
		}

	}

	.check-address {
		padding-top: 30px;
	}

	p.check {
		padding-bottom: 2px;
	}
}