.single-header {
	margin-bottom:50px;
}
.subheader {
	.sec-wrap {
		padding-left:75px;
		padding-right:75px;
	}
	.divider.arrow {
		margin:-6px 0 0;
	}
	& + .content.flush-top {
		padding:40px 0 35px 0;
	}
}
.featured {
	h2 {
		width:70%;
		margin:auto;
	}
}