.single-header {
	h1 {
		&.small-font {
			font-size:3em;
		}
	}
}
.subheader {
	& + .content.flush-top {
		padding:70px 0 60px 0;
	}
}
.featured {
	h2 {
		width:60%;
	}
}
.team-grid {
	.sec-wrap {
		text-align:center;
	}
	.bio {
		display:inline-block;
		margin:10px;
		overflow:hidden;
		vertical-align:top;
	}
}
.team-bio {
	header {
		margin-top:110px;
	}
	h1 {
		font-size:3.4em;
	}
	h2 {
		margin-top:-15px;
		margin-left:70px;
		font-size:1.5em;
	}
}
.infobox {
	.icon-wrapper {
		.fa, .r-icon {
			font-size:42px;
		}
	}
}
.pray {
	header {
		padding-top:120px;
	}
	.form-wrap {
		width:560px;
		margin-bottom:140px;
	}
}
.contact-us {
	header {
		padding-top:120px;
	}
	#gFormReponse {
		font-size:1.4em;
	}
}
.sec-image {
	.image-wrap {
		margin-bottom:20px;
	}
	.caption-wrap {
		position:relative;
		padding-top:5px;
		padding-right:45%;
		&:before {
			width:55%;
			height:4px;
		}
	}
	&.align-right {
		.caption-wrap {
			padding-right:20px;
			padding-left:45%;
		}
		figcaption {
			text-align:right;
		}
	}
}
.sec-infobox {
	.row {
		display:block;
		margin-bottom:50px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	.infobox.col-1-2 {
		width:48%;
		margin:0 0.8%;
	}
}
.sec-inline-icons {
	h3 {
		font-size:1.3em;
		margin:0.5em;
	}
	.img-wrap {
		width:100px;
		height:100px;
		border:5px solid @restore-red;
	}
	.item {
		width:150px;
	}
}