.subheader {
	& + .content.flush-top {
		padding:70px 0 60px 0;
	}
}
.featured {
	h2 {
		width:50%;
	}
}
.team-grid {
	.sec-wrap {
		text-align:center;
	}
	.bio {
		display:inline-block;
		margin:10px;
		overflow:hidden;
	}
}