.single-header {
	text-align:center;
	height:450px;
	background-color:@restore-red;
	h1 {
		margin:0;
		line-height:1;
		color:#fff;
		&.small-font {
			font-size:1.90em;
		}
	}
	&.bg-image {
		position:relative;
		.sec-wrap {
			position:absolute;
			z-index:2;
			width:100%;
		}
		.frame {
			position:absolute;
			width:100%;
			height:100%;
			z-index:1;
		}
		.portrait {
			width:100%;
			height:100%;
			opacity:0;
			background-size:cover;
			.transition(opacity, 1s);
		}
		.loaded {
			opacity:1;
		}
	}
}
.subheader {
	padding-top:35px;
	padding-bottom:0;
	text-align:center;
	.divider.arrow {
		margin:-10px 0 0;
	}
	& + .content.flush-top {
		padding:30px 0 25px 0;
	}
	p:last-of-type {
		margin-bottom:40px;
	}
}
.featured {
	text-align:center;
	background-color:#7B8281;
	color:#fff;
	padding-top:95px;
	padding-bottom:80px;
	h2 {
		font-size:2.4em;
		font-weight:200;
	}
	.btn-wrap {
		margin:40px 0 0;
	}
}
.photo-slider {
	max-width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:40px;
	figure {
		margin:0;
		.wrap {
			background-color:#000;
			padding-top:56.25%;
			height:0;
			box-shadow:0 3px 5px #777;
		}
	}
	figcaption {
		position:relative;
		margin-top: 25px;
		padding: 20px 22px;
		font-size:0.8em;
		font-style:italic;
		color:@restore-light-grey;
		&:before {
			content:"";
			position:absolute;
			top:0;
			left:0;
			width:50%;
			height:4px;
			background-color:@restore-purple;
		}
	}
}
.team-grid {
	padding-bottom:70px;
	.bio {
		width:280px;
		height:280px;
		margin:20px auto;
		background-color:#ccc;
		box-shadow:1px 2px 3px rgba(0,0,0,0.3);
		text-align:left;
		position:relative;
		border-top:14px solid @restore-red;

		a {
			padding:20px;
			display:block;
			color:@restore-dark-grey;
		}
		h3 {
			font-size:1.5em;
			font-weight:600;
		}
		h4 {
			font-size:1.1em;
			font-weight:300;
		}
		.link {
			font-size:2em;
			position: absolute;
			bottom:3px;
			right:15px;
			color:@restore-red;
		}
	}
}
.team-bio {
	text-align:left;
	padding-bottom:70px;
	header {
		margin-top:41px;
	}
	h1 {
		font-size:1.62em;
		line-height:1;
	}
	h2 {
		margin-top:-7px;
		font-size:1.2em;
		font-weight:300;
		color:@restore-red;
	}
	.content {
		padding-top:10px;
	}
	aside {
		padding-top:90px;
		text-align: center;
		.btn {
			display:inline-block;
			max-width:360px;
			width:100%;
		}
	}
	.social {
		margin:25px 0;
	}
}
.infobox {
	position:relative;
	border:2px solid @restore-purple;
	padding-top:50px;
	margin-bottom:80px;
	&:before {
		content:"";
		width:100%;
		height:50px;
		position:absolute;
		top:-2px;
		left:-2px;
		background-color:@restore-purple;
		border:2px solid @restore-purple;
		z-index:1;
		box-sizing:content-box;
	}
	&:first-of-type {
		margin-top:80px;
		.grid-2 & {
			margin-top:0;
		}
	}
	ul {
		text-align:left;
	}
	.icon-wrapper {
		position:absolute;
		text-align:center;
		top:-25px;
		left:50%;
		margin-left:-48px;
		width:95px;
		height:95px;
		background-color:#fff;
		border:4px solid @restore-red;
		border-radius:50%;
		z-index:1;
		.fa, .r-icon {
			position:relative;
			font-size:36px;
			z-index:2;
			&:extend(.vertical-align all);
		}
		.fa-balance-scale {
			margin-left:4px;
		}
		& + h3 {
			margin-top:50px;
		}
	}
	h3 {
		text-align:center;
		margin-top:30px;
		padding-left:30px;
		padding-right:30px;
	}
	.content {
		padding:0 30px 34px;
		position:relative;
		border-top:none;
	}
	.btn-wrap {
		text-align:center;
	}
}
.icon-over-text {
	text-align:center;
	margin-bottom: 85px;
	padding:0 30px;
	.header-link {
		color:@restore-dark-grey;
	}
	.icon-wrapper {
		font-size:3.8em;
	}
	h3 {
		font-size:1em;
		margin:0.5em 0;
	}
	.content {
		font-style:italic;
	}
}
.pray {
	text-align:center;
	background-color:@restore-purple;
	color:#fff;
	padding-bottom:70px;
	header {
		padding-top:50px;
		padding-bottom:120px;
		.divider.icon .restore-icon {
			font-size:1.5em;
		}
	}
	h1 {
		font-size:2.4em;
		line-height:1;
	}
	p {
		font-weight:200;
	}
	.form-wrap {
		margin:70px auto 30px;
	}
	input {
		display:block;
		width:100%;
		margin:15px auto 21px;
		padding:0.75em 1em;
		background-color:#fff;
		outline:none;
		border:none;
		font-size:1em;
		color:@restore-light-grey;
		text-align:center;
		-webkit-appearance: none;
		&::-webkit-input-placeholder {
			color:@restore-light-grey;
			letter-spacing:1px;
			font-weight:200;
		}
	}
	.btn-wrap {
		margin-top:40px;
	}
	button.custom {
		background-color:transparent;
		border:1px solid #fff;
		color:#fff;
		font-weight:200;
		letter-spacing:2px;
	}
}
.contact-us {
	text-align:center;
	background-color:@restore-red;
	color:#fff;
	#gFormReponse {
		position:absolute;
		left:-10000px;
		opacity:0;
		font-size:1em;
		font-weight:300;
		.transition(opacity);
		&.show {
			position:static;
			opacity:1;
		}
	}
	a, a:hover, a:visited {
		color:#fff;
	}
	header {
		padding-top:50px;
		padding-bottom:120px;
		.divider.icon .restore-icon {
			font-size:1.5em;
		}
	}
	.divider.icon .restore-icon {
		color:#fff;
	}
	h1 {
		font-size:2.4em;
		line-height:1;
		text-transform:uppercase;
	}
	p {
		font-weight:200;
	}
	.btn-wrap {
		margin-top:40px;
	}
	.form-wrap {
		ul {
			list-style:none;
			text-align:left;
			padding-left:19px;
		}
		li {
			position:relative;
			margin-bottom:10px;
			input[type=checkbox] {
				position: absolute;
				top:4px;
				left:0;
				z-index:1;
			}
			.ss-choice-label {
				display:inline-block;
				padding-left:30px;
			}
		}
	}
	button.custom {
		background-color:transparent;
		border:1px solid #fff;
		color:#fff;
		font-weight:200;
		letter-spacing:2px;
	}
}
.contact-info {
	background-color:@restore-red;
	color:#fff;
	.icon-wrap {
		font-size:1.8em;
		color:#fff;
		margin-bottom:10px;
	}
	h3 {
		font-size:1.2em;
	}
	h4 {
		margin: 30px 0 5px;
	}
	.info {
		padding-bottom:70px;
		font-weight:100;
		a, a:hover, a:visited {
			color:#fff;
			&:extend(.clearfix all);
		}
		span {
			display:block;
		}
	}
}
.page404 {
	background-color:@restore-purple;
	color:#fff;
	text-align:center;
	.r-icon {
		font-size:6em;
	}
	h1 span {
		display:block;
		font-size:0.4em;
	}
}
.page404-content {
	.sec-wrap {
		font-size:1.4em;
		padding:0px 0;
		text-align:center;
	}
}
.sec-image {
	p {
		margin:0;
	}
	figure {
		padding:0;
		margin:0;
	}
	figcaption {
		font-size:0.8em;
		font-style:italic;
	}
	.image-wrap {
		margin-bottom:14px;
	}
	.caption-wrap {
		position:relative;
		padding:0 20px;
		&:before {
			content:"";
			position:absolute;
			top:-10px;
			left:0;
			width:50%;
			height:3px;
			background-color:@restore-purple;
		}
	}
	&.align-right {
		figcaption {
			text-align:right;
		}
		.caption-wrap {
			&:before {
				left:auto;
				right:0;
			}
		}
	}
}
.sec-inline-icons {
	//height:580px;
	text-align:center;
	a:not(.btn) {
		display:block;
		position:relative;
	}
	h2 {
		margin-bottom:30px;
	}
	h3 {
		color:@restore-dark-grey;
		font-size:1em;
	}
	.border {
		position:absolute;
		top:0;
		left:50%;
		margin-left:-35px;
		width:70px;
		height:70px;
		border:4px solid @restore-red;
		border-radius:50%;
		z-index:1;
		background-color:#fff;
	}
	.img-wrap {
		position:relative;
		width:70px;
		height:70px;
		margin:0 auto;
		z-index:2;
		img {
			position:relative;
			top:50%;
			width:60%;
			margin-top:-30%;
			.transition(transform, 0.3s);
		}
	}
	.item {
		width:115px;
		display:inline-block;
		overflow:hidden;
		text-align:center;
		margin:7px;
		vertical-align:top;
	}
}
.slider-text {
	.profile.img-wrap {
		position:relative;
		width:100px;
		height:100px;
		margin:0 auto 30px;
	}
}