.single-header {
	height:360px;
	margin-bottom:30px;
	background-color:@restore-red;
	h1 {
		margin:0;
		line-height:1;
		color:#fff;
	}
}
.subheader {
	.divider.arrow {
		margin:-10px 0 0;
	}
	& + .content.flush-top {
		padding:30px 0 25px 0;
	}
	p:last-of-type {
		margin-bottom:40px;
	}
}
.featured {
	background-color:#7B8281;
	color:#fff;
	padding-top:95px;
	padding-bottom:80px;
	h2 {
		font-size:2.4em;
		font-weight:200;
	}
	.btn-wrap {
		margin:40px 0 0;
	}
}
.photo-slider {
	max-width:400px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:40px;
	figure {
		margin:0;
		.wrap {
			background-color:#000;
			padding-top:56.25%;
			height:0;
			box-shadow:0 3px 5px #777;
		}
	}
	figcaption {
		position:relative;
		margin-top: 25px;
		padding: 20px 22px;
		font-size:0.8em;
		font-style:italic;
		color:@restore-light-grey;
		&:before {
			content:"";
			position:absolute;
			top:0;
			left:0;
			width:50%;
			height:4px;
			background-color:@restore-purple;
		}
	}
}
.team-grid {
	padding-bottom:70px;
	.bio {
		width:280px;
		height:280px;
		margin:20px auto;
		background-color:#ccc;
		box-shadow:1px 2px 3px rgba(0,0,0,0.3);
		text-align:left;
		position:relative;
		border-top:14px solid @restore-red;

		a {
			padding:20px;
			display:block;
			color:@restore-dark-grey;
		}
		h3 {
			font-size:1.5em;
			font-weight:600;
		}
		h4 {
			font-size:1.1em;
			font-weight:300;
		}
		.link {
			font-size:2em;
			position: absolute;
			bottom:3px;
			right:15px;
			color:@restore-red;
		}
	}
}
.team-bio {
	text-align:left;
	padding-bottom:70px;
	header {
		margin-top:41px;
	}
	h1 {
		font-size:1.62em;
		line-height:1;
	}
	h2 {
		margin-top:-7px;
		font-size:1.2em;
		font-weight:300;
		color:@restore-red;
	}
	.content {
		padding-top:10px;
	}
	aside {
		padding-top:90px;
		text-align: center;
		.btn {
			display:inline-block;
			min-width:360px;
		}
	}
	.social {
		margin:25px 0;
	}
}
.infobox {
	position:relative;
	border:2px solid @restore-purple;
	padding-top:46px;
	margin-bottom:80px;
	&:before {
		content:"";
		width:100%;
		height:50px;
		position:absolute;
		top:-2px;
		left:-2px;
		background-color:@restore-purple;
		border:2px solid @restore-purple;
		z-index:1;
		box-sizing:content-box;
	}
	&:first-of-type {
		margin-top:80px;
	}
	ul {
		text-align:left;
	}
	.icon-wrapper {
		position:absolute;
		top:-25px;
		left:50%;
		margin-left:-48px;
		width:95px;
		height:95px;
		background-color:#fff;
		border:4px solid @restore-red;
		border-radius:50%;
		padding-left:4px; //icon slightly off
		z-index:1;
		.fa, .r-icon {
			position:relative;
			font-size:36px;
			z-index:2;
			&:extend(.vertical-align all);
		}
		& + h3 {
			margin-top:50px;
		}
	}
	h3 {
		margin-top:30px;
		padding-left:30px;
		padding-right:30px;
		font-style:italic;
	}
	.content {
		padding:0 30px 34px;
		position:relative;
		border-top:none;
	}
}
.icon-over-text {
	text-align:center;
	margin-bottom: 85px;
	padding:0 30px;
	.icon-wrapper {
		font-size:3.8em;
	}
	h3 {
		font-size:1em;
		margin:0.9em 0;
	}
	.content {
		font-style:italic;
	}
}
.pray {
	background-color:@restore-purple;
	color:#fff;
	padding-bottom:70px;
	header {
		padding-top:100px;
		padding-bottom:80px;
		.divider.icon .restore-icon {
			font-size:1.5em;
		}
	}
	h1 {
		font-size:2.4em;
		line-height:1;
	}
	p {
		font-weight:200;
	}
}